<h1>{{title}}</h1>
<body>
<h3>Learning Docker!
</p>
<form method="post" action="/item/add">
    <label for="name">Name</label>
    <input type="text" name="name">
    <input type="submit" value="Add">
  </form>
  <h4>Items:</h4>
  <ul>
    {{#each items}}
      <li>
        {{name}}
      </li>
      {{/each}}
  </ul>
</body>